<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="column">
                    <button type="button" class="btn btn-primary">HOME</button>
                    <button type="button" class="btn btn-success">CONTACT</button>
                    <button type="button" class="btn btn-danger">PROJECTS</button>
                </div>
            </div>
        </div>
        <H1>Contact Me!</H1>
        <form>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Message">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>