<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="column">
                    <button type="button" class="btn btn-primary">HOME</button>
                    <button type="button" class="btn btn-success">CONTACT</button>
                    <button type="button" class="btn btn-danger">PROJECTS</button>
                </div>
            </div>
        </div>
        <H1>About Me!</H1>
        <div class="row">
            <div class="column">
                <img src="~/static/robot.jpg" alt="Robot">
                <h2>Ryan Harloff</h2>
                <h2>Stuff about me!</h2>
            </div>
            <div class="column2">
                    <p>This is information about me</p>
            </div>
        </div>
</body>
</html>